.p-4box{
    margin: auto;
    margin-top: 30px;
    text-align: center;
    line-height: 60px;
    width: 50%;
 }
 .logoimg{
     margin: auto;
     margin-top: 30px;
     margin-bottom: 30px;
     border-radius: 10px;
     height: 100px;
     width: 100px;
 }
 .mainbox{
     margin: auto;
     width: 50%;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 }